
.card-view {
    width: 1400px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card-view .card {
    position: relative;
    border-radius: 10px;
}

.card-view .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.card-view .card:nth-child(1) .icon {
    background: #FFFFFF;
    padding-top: 20px;
}

.card-view .card:nth-child(2) .icon {
    background: #FFFFFF;
    padding-top: 20px;
}

.card-view .card:nth-child(3) .icon {
    background: #FFFFFF;
    padding-top: 20px;
}

.card-view .card:nth-child(4) .icon {
    background: #FFFFFF;
    padding-top: 20px;
}

.card-view .card:nth-child(5) .icon {
    background: #FFFFFF;
    padding-top: 20px;
}


.card-view .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.card-view .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.card-image{
    border-style: none;
width: 165px;
height: 165px;
border-radius: 33px;
display: block;
margin: auto
}

.card-image-margin{
    margin-top: 35px;
}

.card-font{
    
}

.playstore-logo{
    height: 120px;
}

@media screen and (max-device-width: 480px) {
  .card-view .card .face {
    width: 200px;
    height: 180px;
    transition: 0.5s;
  }

  .card-image{
    border-style: none;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    display: block;
    margin: auto
    }

    .card-image-margin{
    margin-top: 0px !important;
    }

    .card-view {
    width: 300px;
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-direction: column;
    }

    .card-font{
    font-size: 12px;
    }

    .playstore-logo{
    height: 90px;
    }
}


.card-view .card .face.face1 {
    position: relative;
    background: #BD5D38;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.card-view .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.card-view .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.card-view .card:hover .face.face1 .content {
    opacity: 1;
}

.card-view .card .face.face1 .content i{
    max-width: 100px;
}

.card-view .card .face.face2 {
    position: relative;
    background: #BD5D38;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px -100px 22px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.card-view .card:hover .face.face2{
    transform: translateY(0);
}

.card-view .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #FFFFFF;
}

.card-view .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
} 

.card-view a {
    text-decoration: none;
    color: #FFFFFF;
}